body {
    font-family: 'Poppins', serif;
}

.flex-container {
    margin: auto;
    border: 1px solid black;
    display: flex;
    width: 80%;
    justify-content: center;
}

.flex-child {
    border: 1px solid pink;
    width: 625px;
    margin: 20px;
}

.item-container {
    margin: auto;
    border: 1px solid black;
    display: flex;
    width: 85%;
    justify-content: left;
}

.item-image {
    border: 1px solid green;
    margin: 10px 20px 10px 40px;
}

.item-info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 10px;
    border: 1px solid green;
    margin: 10px 0;
}

.flex-container img {
    max-width: 150px;
}

.result-title {
    text-align: center;
}

.item-name {
    font-size: 20px;
    font-weight: bold;
}

.track-artists {
    font-weight: lighter;
    text-indent: .5em;
}

