body {
    font-family: 'Poppins', serif;
}

.results-container {
    border: 1px solid black;
    margin: 20px auto;
    width: 65%;
}

.item-container {
    border: 1px dotted black;
    display: flex;
    gap: 15px;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 15px;
    justify-content: left;
}

.result-title {
    margin: 10px auto;
    text-align: center;
    font-size: 40px;
}

.item-image img {
    width: 135px;
}

.item-name {
    margin-top: 28px;
    font-size: 30px;
    font-weight: bold;
}

.track-artists {
    margin-top: -17px;
    font-weight: 100;
    text-indent: 1em;
}

